<html lang='pt-br'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Home</title>
    <link rel='stylesheet' href='../css/estilos.css' />
    <style>
      a { text-decoration: none; }
    </style>
  </head>
  <body>
    <div class='container'>
      <header>
        <h1>EE-Mercadinho</h1>
      </header>
      <nav>
        <div>
          <button type='button' class='btn btn-outline-dark'>
            <a class='link-success' href='cadastro-caixa.html'>Cadastrar Caixa</a>
          </button>
          <button type='button' class='btn btn-outline-dark'>
            <a class='link-success' href='cadastro-cliente.html'>Cadastrar
              Cliente</a>
          </button>
          <button type='button' class='btn btn-outline-dark'>
            <a class='link-success' href='cadastro-produto.html'>Cadastrar
              Produto</a>
          </button>
        </div>
      </nav>
    </div>
    <main class='container pt-4 pb-4'>
      <div class='table-responsive'>
        <table
          class='table table-hover table-bordered align-middle caption-top'
        >
          <caption>Lista de produtos à venda</caption>
          <thead class='table-dark'>
            <tr>
              <th scope='col'>ID</th>
              <th scope='col'>Produto</th>
              <th scope='col'>Fabricante</th>
              <th scope='col'>Preço</th>
              <th scope='col'>Disponível</th>
              <th scope='col'>Categoria</th>
              <th scope='col'>Ações</th>
            </tr>
          </thead>
          <tbody>
            {{#each rows}}
              <tr>
                <th scope='row'>{{this.id_produto}}</th>
                <td>{{this.nome}}</td>
                <td>{{this.fabricante}}</td>
                <td>R$ {{this.preco}}</td>
                <td>{{this.quantidade}}</td>
                <td>{{this.categoria}}</td>
                <td>
                  <a
                    href='#'
                    type='button'
                    class='btn btn-small btn-danger'
                    title='Excluir detalhes do produto selecionado.'
                  >
                    <i class='bi- bi-trash'></i>
                  </a>
                  <a
                    href='#'
                    type='button'
                    class='btn btn-dark btn-small'
                    title='Atualizar detalhes do produto selecionado.'
                  >
                    <i class='bi- bi-pencil'></i>
                  </a>
                  <a
                    href='#'
                    type='button'
                    class='btn btn-success btn-small'
                    title='Ver mais detalhes do produto selecionado.'
                  >
                    <i class='bi- bi-eye'></i>
                  </a>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </main>
    <footer></footer>
  </body>
</html>